# Ignoriere alle Inhalte des 'docs'-Ordners, aber nicht die Ordner selbst
example/docs/*
task/docs/*

# Behalte den Ordner 'docs' selbst
!example/doc/.gitignore
!task/doc/.gitignore

# Ignoriere alle .o-Dateien
*.o
